.main__container {
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main__text-container {
  display: flex;
  flex-direction: column;
}

.main__name {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 0 0 25px 0;
  text-align: center;
}

.main__profession {
  font-size: 25px;
  line-height: 16px;
  font-weight: 400;
  opacity: 0.8;
  margin: 0 0 25px 0;
  text-align: center;
}

.main__descrition {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
  text-align: center;
  padding: 1em;
  margin: 0 0 25px 0;
}

.link {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link__item {
  text-decoration: none;
  color: black;
  max-width: 66px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.link__item:hover {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.main__photo {
  object-fit: cover;
  border-radius: 10px;
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 768px) {
  .main__container {
    flex-direction: column-reverse;
    padding: 15px;
  }

  .main__name {
    margin: 25px 0;
  }
}
    @media screen and (max-width: 320px) {
        .main__name {
        max-width: 300px;
        font-size: 30px;
        line-height: 38px;
        margin: 15px 0;
    }
    .main__profession {
        font-size: 20px;
        line-height: 26px;
        margin: 0;
    }
    
    }
