.header {
  padding: 18px 70px;
    background-color: #f5f5f5;

}

/* .header__logo:hover {
  opacity: 0.5;
  transition: 0.4s ease-in-out;
} */

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}

